.inputContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.input,
.inputBackdrop {
    width: 100%;
    height: 100%;
    font: var(--body-large);
    border-style: none;
    animation: fadeIn 1.5s forwards linear;
    resize: none;
}

.input {
    outline: none;
    z-index: 2;
    position: absolute;
    color: var(--primary-color);
    background-color: #00000000;
}

.input:focus {
    outline: none;
}

.inputBackdrop {
    color: #8e8d8a;
    background-color: var(--quaternary-color);
    pointer-events: none;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
    .input,
    .inputBackdrop {
        font: var(--body-xxl);
    }
}
