.button {
    margin: 10px;
    padding: 18px;
    font: var(--header-xs);
    color: var(--quinary-color);
    background-color: var(--secondary-color);
    border-radius: 18px;
    border-style: solid;
    border-color: var(--quinary-color);
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}
