.timer {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    font: var(--header-xxl);
    color: black;
    text-align: center;
    pointer-events: none;
}



@media screen and (min-width: 2160px) {
    .timer {
        padding-top: 10%;
        align-items: flex-start;
    }
}