/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('./fonts/SourceCodePro/SourceCodePro-Bold.ttf');
}

@font-face {
    font-family: accent;
    src: url('./fonts/SourceCodePro/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: accent-light;
    src: url('./fonts/SourceCodePro/SourceCodePro-Light.ttf');
}

/* ------------------- VARIABLES ------------------- */

:root {
    --header-xxl: 4rem header;
    --header-xl: 2.8rem header;
    --header-large: 2.25rem header;
    --header-medium: 1.85rem header;
    --header-small: 1.5rem header;
    --header-xs: 1.2rem header;

    --body-xxl: 1.8rem body;
    --body-xl: 1.5rem body;
    --body-large: 1.23rem body;
    --body-medium: 1rem body;
    --body-small: 0.9rem body;

    --accent-medium: 1rem accent;
    --accent-small: 0.8rem accent;

    --primary-color: #E85A4F;
    --secondary-color: #E98074;
    --tertiary-color: #8E8D8A;
    --quaternary-color: #D8C3A5;
    --quinary-color: #EAE7DC;
}

/* ------------------- GLOBAL ------------------- */

html,
body,
#root, 
.app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ------------------- APP ------------------- */

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--quaternary-color);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.appTitle {
    font: var(--header-medium);
    color: var(--primary-color);
}

.snippet {
    color: var(--tertiary-color);
    width: 85%;
}

.input {
    width: 85%;
    font: var(--body-medium);
    color: var(--primary-color);
}

.button {
    margin: 10px !important;
    padding: 18px !important;
    background-color: var(--secondary-color) !important;
}

.snippetCard {
    color: var(--quinary-color) !important;
}