/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('./fonts/SourceCodePro/SourceCodePro-Medium.ttf');
}

@font-face {
    font-family: accent;
    src: url('./fonts/SourceCodePro/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: accent-light;
    src: url('./fonts/SourceCodePro/SourceCodePro-Light.ttf');
}

body {
    text-align: center;
}

.appTitle {
    margin-top: 15vh !important;
}

.header {
    font-family: header;
}